:root {
    /* length */
    --main-max-width: 1350px;
    --main-min-width: 780px;
    --roomInfo-slide-unit: 15vw;
    --inputBox-span-min-width: 200px;
    --inputBox-height: 10vh;
    --inputBox-open-height: 430px;
    --sr-title-top: -15px;
    --sr-title-left: 3%;
    --sr-title-font-size:16px;
    --price-btn-width: 200px;
    --common-title-height: 20vh;
    /* color */
    --inputBox-span-border-color: rgba(4, 116, 0, 0.2);
    --main-bg-color: #00a138;
    --main-yellow-color: #ffcf00;
    --button-yellow: rgb(240, 240, 89);
    --slideBtn-bg-color: rgba(0,0,0,0.05);
    --reservation-bg-color:rgba(255,255,255,0.8);
}
body {padding: 0px;margin: 0px; font-family: 'Noto Sans KR', sans-serif; font-size: 0.8vw;}
a {text-decoration: none; color: initial;}
ul,li {list-style: none; padding: 0px; margin: 0px;}
h1,h2,h3,h4,h5,h6 {margin: 0px; padding: 0px;}
/* number input 버튼 숨기기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    appearance: textfield;
}
header {
    z-index: 4000;
}