/* ===================================== 0. main ================== */
main {
    padding-top: calc(10vh + 90px);
    background-color: var(--main-bg-color);
}
.mainWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: var(--main-max-width);
    min-width: var(--main-min-width);
    margin: 0px auto;
    background-color: var(--main-bg-color);
}
/* ==================================== shortReservation ============ */
.shortReservation {
    width: 70%;
    height: var(--inputBox-height);
    box-sizing: border-box;
    overflow: hidden;
    
    display: flex;
    background-color: var(--reservation-bg-color);
    backdrop-filter: blur(5px);
}
.shortReservation_wrap_up {
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    position: relative;
}
.shortReservation_wrap_up >div:hover {
    background-color: rgba(0,0,0,0.1);
}
.sr_date h4,
.sr_numbers h4,
.roomInfo_wrap h3 {
    display: none;
}
.topSlide {
    width: 100%;
    display: flex;
    position: fixed;
    top: 10vh;
    left: 0px;
    z-index: 500;
}
/* ========= 장바구니 ============== */
.hotelBasket {
    width: 30%;
    height: var(--inputBox-height);
    box-sizing: border-box;
  

    display: flex;
    overflow: hidden;
    background-color: var(--reservation-bg-color);
    backdrop-filter: blur(5px);
}
.hotelBasket_wrap {
    width: calc(100% - 50px);
    position: relative;
}
.hb_date_in,
.hb_date_out {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 50%;
    font-size: 100%;
}
.hb_unit {
    padding: 1rem 5%;
    background: linear-gradient(to top, transparent,white 10% 90%,transparent);
}
.hb_unit:hover {
    background: linear-gradient(to top, transparent,yellow 10% 90%,transparent);
}
.hb_u_number {
    float: right;
}
.hb_date {
    display: flex;
}
.hb_date_roomnum {
    width: 20%;
    height: var(--inputBox-height);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hb_date_roomnum strong {
    font-size: 100%;
}
.hb_d_rn_number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    aspect-ratio: 1/1;
    background-color: var(--main-yellow-color);
    border-radius: 50%;
    font-size: 100%;
    font-weight: bold;
}
.hb_date_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: var(--inputBox-height);
    box-sizing: border-box;
}
.hb_date_wrap::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: linear-gradient(to top, transparent 5%, rgba(200,200,200,0.8), transparent 95%);
    margin-left: 10%;
}
.hb_total {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.3);
}
.hb_u_detail {
    position: relative;
    padding: 5px 0px 0px 1rem;
    height: 3rem;
}
.hb_u_theme {
    display: block;
    color: #666;
    font-size: 80%;
}
.hb_u_price {
    display: block;
    float: right;
}
.hb_u_input {
    display: none;
}
.select_hb_unit {
    box-sizing: border-box;
    border: 3px solid yellow;
}
.hb_submit {
    padding: 10px;
}
.hb_submit button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 90%;
    margin-right: 10px;
    background-color: var(--main-yellow-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
/* ---------------------------------------------- 1. date */
.sr_date {
    width: 60%;
    position: relative;
}
.sr_calender_wrap {
    width: 100%;
    background: linear-gradient(to top, transparent,rgba(255,255,255,0.8), white 20% 80%,rgba(255,255,255,0.8), transparent);
}
.sr_date_calender {
    width: 80%;
    height: 100%;
    margin: 0px auto;
    box-sizing: border-box;
}
/* inputbox ----------------- */
.inputBox {
    width: 100%;
    height: var(--inputBox-height);
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.inputBox .checkin,
.inputBox .checkout {
    width: 100%;
}
.inputBox input {
    display: none;
}
.inputBox span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 150px;
    padding: 5px;
    background-color: var(--main-yellow-color);
    border: 2px solid transparent;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 100%;
    transition: .5s ease;
    cursor: pointer;
}
.inputBox span:not(.on):hover {
    border-color: var(--inputBox-span-border-color);
    color: #999;
}
.inputBox span.on {
    border-color: var(--inputBox-span-border-color);
    background-color: white;
}
.inputBox label {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 80%;
}
.inputBox > img {
    display: block;
    width: 30px;
    box-sizing: border-box;
    padding-top: 25px;
    opacity: 0.7;
}
/* ----------------------------------------------- 2. numbers */
.sr_numbers {
    width: 70%;
    min-width: 400px;
    /* max-width: 500px; */
    position: relative;
    box-sizing: border-box;
}
.sr_numbers::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top,transparent 5%,rgba(200,200,200,0.8),transparent 95%);
    position: absolute;
    top: 0px;
    left: 0px;
}
.sr_numbers.uup::before {
    content: "";
    display: block;
    width: 1px;
    height: var(--inputBox-height);
    background: linear-gradient(to top,transparent 2%,rgba(200,200,200,0.8),transparent 98%);
    position: absolute;
    top: 0px;
    left: 0px;
}
.sr_numbers::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top,transparent 2%,rgba(200,200,200,0.8),transparent 98%);
    position: absolute;
    top: 0px;
    right: 0px;
}
.sr_numbers.uup::after {
    content: "";
    display: block;
    width: 1px;
    height: var(--inputBox-height);
    background: linear-gradient(to top,transparent 2%,rgba(200,200,200,0.8),transparent 98%);
    position: absolute;
    top: 0px;
    right: 0px;
}
.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.tbody{
    box-sizing: border-box;
    padding: 0px 5%;
}
.tfoot {
    padding: 1rem 5%;
    height: var(--inputBox-height);
    width: 100%;
    display: flex;
    gap: 0.5rem;
    box-sizing: border-box;
}
.tfoot strong {
    display: block;
    width: 50%;
}
.tfoot .th >div,
.tfoot .td >div {
    color: #555;
    font-size: 100%;
}
.thead {
    display: none;
    padding: 1rem 5%;
    height: var(--inputBox-height);
    width: 100%;
    gap: 0.5rem;
    box-sizing: border-box;
}
.tbody_add {
    overflow: hidden;
    transition: .5s ease;
}
.sr_n_list {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    box-sizing: border-box;
}
.tbody_add {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    box-sizing: border-box;
}
.td {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.th {
    position: relative;
    width: 20%;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.thead .th,
.thead .td {
    flex-direction: column;
    justify-content: start;
}
.tfoot .th,
.tfoot .td {
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}
.thead .td >div  {
    font-size: 80%;
    color: #777;
}
.thead .td > strong,
.thead .th > strong {
    font-size: 100%;
}
.sr_deleteRoom {
    display: block;
    width: 1rem;
    aspect-ratio: 1/1;
    font-size: 0px;
    background: url("/image/close_button.png") no-repeat center/ 1rem;
    box-sizing: border-box;
    position: absolute;
    left: -0.7rem;
}
.sr_addRoom {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0px;
    background: rgb(143, 171, 255) url("/image/plus.png") no-repeat center/20px;
    border-radius: 50%;
    box-sizing: border-box;
}

/* number check ---------------------- */
.numberCheck {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 40px;
    aspect-ratio: 1.6/1;
    border-radius: 7px;
    overflow: hidden;
}
.nc_wrap label {
    display: none;
}
.numberCheck input {
    width: 60%;
    height: 100%;
    text-align: center;
    color: black;
    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: yellowgreen;
    font-size: 150%;
    border: none;
}
.decrease_btn,
.increase_btn {
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-yellow-color);
    height: 50%;
    width: 40%;
    position: absolute;
    right: 0px;
}
.decrease_btn img,
.increase_btn img {
    width: 60%;
    opacity: 0.6;
}
.decrease_btn {
    bottom: 0px;
}
.increase_btn {
    top: 0px;
}
/* -------------------------------------------------- 3. code */
.sr_code {
    position: relative;
    width: 50%;
    /* max-width: 300px; */
}
.sr_c_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
    margin: 1rem auto;
}
.sr_c_title {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: var(--inputBox-height);
    padding: 1rem 5%;
    word-break: keep-all;
    box-sizing: border-box;
}
.sr_code > div:nth-of-type(2) {
    display: block;
}
#sr_c_input {
    display: block;
    width: 8rem;
    font-size: 90%;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    background-color: inherit;
    outline-color: var(--main-yellow-color);
}
.sr_c_list a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-yellow-color);
    border-radius: 30px;
    padding: 5px 0px;
    box-sizing: border-box;
    transition: .5s ease;
    font-size: 90%;
}        
.sr_c_active {
    background-color: var(--main-yellow-color);
    border: none;
}
.sr_c_disabled_active {
    background-color: palevioletred;
    border: none;
}
/* ----------------------------------------------- 4. button */
.sr_searchBtn {
    width: 20%;
    height: var(--inputBox-height);
    position: relative;
}
.sr_searchBtn::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top,transparent 5%,rgba(200,200,200,0.8),transparent 95%);
    position: absolute;
    top: 0px;
    left: 0px;
}
.sr_searchBtn button {
    width: 100%;
    height: 100%;
    border: none;
    background: url("/image/search.svg") no-repeat left 15% center/ 1.5rem;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
}
.sr_searchBtn button:active {
    background-color: tomato;
}
.sr_slideBtn {
    width: 50px;
    height: 100%;
    position: relative;
}
.slideBtn {
    font-size: 0px;
    width: 50px;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: var(--slideBtn-bg-color) url("/image/arrow_drop_down.png") no-repeat bottom center/50px;
}
.act, .act2 {
    background: var(--slideBtn-bg-color) url("/image/arrow_drop_up.png") no-repeat bottom center/50px;
}

