.headerWrap {
    z-index: 5000;
}
main {
background-color: #ffcf00;
padding-top: 10vh;
}
.mainWrap {
width: var(--whole-max-width);
min-width: var(--whole-min-width);
background-color: var(--main-bg-color);
margin: auto;
position: relative;
}
.titlebnr {
width: 100vw;
height: 220px;
background-color: white;
position: absolute;
top: 0px;
}
.title {
width: 100%;
margin: 0px auto 60px;
height: 220px;
box-sizing: border-box;
}
.title h3 {
font-size: 35px;
color: black;
position: relative;
max-width: var(--list-max-width);
padding: 0px 50px;
margin: auto;
text-shadow: 1px 1px 5px rgba(255,255,255,0.7);
}
.title_bg {
width: 100%;
height: 100%;
padding: 80px 40px 0px;
box-sizing: border-box;
/* background: linear-gradient(to right,white, white 5%, transparent 40% 90%,white 96%,white); */
background: linear-gradient(to right,white, white 5%, transparent 60%);
}
/* --------------------------------------------------------- */
.list {
width: 100%;
padding: 0px 15%;
box-sizing: border-box;
}
.list h4 {
padding-bottom: 50px;
font-size: 150%;
position: relative;
}
.list h4::after {
content: "";
display: block;
width: 60%;
height: 2px;
background: linear-gradient(to right, rgba(0,0,0, 0.3), transparent);
position: absolute;
bottom: 35px;
left: 0px;

}
.list_ul_wrap{
background: url("/image/entrance_korea_0729.jpg") no-repeat center/ cover;
}
.t_r_list_ul {
background: url("/image/background4.webp") no-repeat center/ cover;
}
.e_list_ul{
background: url("/image/background02.webp") no-repeat bottom center/ cover;
}
.c_list_ul {
background: url("/image/background03.webp") no-repeat top left/ cover;
}
.list_ul {
width: 100%;
display: flex;
flex-wrap: wrap;
border-collapse: collapse;
}
.list_u_li_dated,
.list_u_li_period,
.list_u_li {
width: calc(100% / 3);
aspect-ratio: 1 / 0.6;          
position: relative;
border: 4px solid var(--main-bg-color);
box-sizing: border-box;
}
.list_u_li {
transition: .3s ease;
}
.list_u_li_empty {
width: calc(100% / 3);
aspect-ratio: 1 / 0.6;          
position: relative;
background-color: var(--main-bg-color);
}
.list_ul>li>a:hover {
background-color: rgba(0, 128, 0, 0.3);
color: #eee;
}

.list_ul >li>a {
display: flex;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
font-size: 120%;
font-weight: 600;

box-sizing: border-box;
word-break: keep-all;
transition: .3s ease;
background-color: white;
}
.list_ul >li>.dated_tc {
background-color: red;
}
.list_ul >li>.daytime_tc {
background-color: green;
}
.list_ul >li>.vip_tc {
background-color: blue;
}
.list_ul >li>.annual_tc {
background-color: orange;
}
.list_ul >li>.season_tc {
background-color: pink;
}

.list_exp {
position: fixed;
left: 0;
top: 0;
width: 100vw;
height: 100vh;
backdrop-filter: blur(2px);
display: none;
justify-content: center;
align-items: center;
z-index: 9999;
}
.list_exp_wrap {

width: 50%;
height: 70%;
position: relative;

background-color: #bd9b04;
box-shadow: 4px 4px 6px #3333336b;
border-radius: 20px;
color: black;

padding: 60px 40px 40px;

}
.l_e_w_text {
width: 100%;
height: 85%;
padding: 10px 20px;
overflow-y: auto;
box-sizing: border-box;
margin-bottom: 10px;
}
.list_exp h5 {
font-size: 20px;
padding-bottom: 15px;
padding-left: 30px;
}
.list_exp ul {
list-style: circle;
padding-left: 40px;
padding-top: 40px;
}
.list_exp li {
padding: 10px 0px;
}

.close_exp {
display: block;
width: 20px;
height: 20px;
background: rgba(255, 255, 255, 0.8) url("age/close_button.png") no-repeat center/20px 20px;
border-radius: 50%;

position: absolute;
top: 20px;
right: 20px;
}
.btnBox {
display: flex;
gap: 30px;
justify-content: center;
align-items: center;
padding-top: 15px;
}
.gotoreser {
display: block;
width: 100px;
height: 30px;
text-align: center;
border: 3px solid gray;
color: gray;
}
.gotoexp {
display: block;
width: 100px;
height: 30px;
text-align: center;
border: 3px solid gray;
color: gray;
}
/* .gotoexp {
display: block;
border: 2px solid #bbb;
background: #bbbbbbc4 url("mage/toright_arrow.png") no-repeat right
    10px center/20px;
width: 160px;
height: 30px;
border-radius: 30px;
padding: 0px 25px;
box-sizing: border-box;
font-size: 14px;
color: #555;
line-height: 1.8;
} */
/* ----------------------------------------- */
.tickets {
position: relative;
margin: auto;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.t_list {
margin-bottom: 70px;
position: relative;
}

.t_title {
background: url("/image/background01.webp") no-repeat center/cover;
}
.t_title h3::after {
    content: "LEGOLAND®와 함께 하는 시간";
    display: block;
    font-size: 20px;
    font-weight: 500;
}

/* ----------------------------------------------------- */
.extra {
position: relative;
width: 100%;
margin: 150px auto 0px;
}
.e_list {
margin-bottom: 70px;
position: relative;
}
.e_title {
background: url("/image/background02.webp") no-repeat center/cover;


}
.e_title h3::after {
    content: "LEGOLAND®와 함께하는 더 특별한 경험";
    display: block;
    font-size: 20px;
    font-weight: 500;
}
/* ------------------------------------------------------ */
.collab {
position: relative;
width: 100%;
margin: 150px auto 0px;
}
.c_list {
margin-bottom: 70px;
position: relative;
}
.c_title {
background: url("/image/background03.webp") no-repeat center/cover;
}
