header {
    z-index: 5000;
}
/* main ----------------------------------------------------------------- */
main {
    background-color: var(--main-bg-color);
    padding-top: 10vh;
}
.mainWrap {
    width: 100%;
}
/* title ------------------------------------------------------------ */
.t_title {
    width: 100%;
    height: 33vh;
    margin-bottom: 60px;
    box-sizing: border-box;
    background: url("/image/background01_sizeup.png") scroll no-repeat center/cover;
}
.title_bg {
    max-width: var(--whole-max-width);
    min-width: var(--whole-min-width);
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.t_title h3 {
    padding: 20px 200px 20px 20px;
    box-sizing: border-box;
    background-color: var(--title-text-bg-color);
    font-size: 200%;
    color: black;
    position: relative;
}
.t_title h3::after {
    content: "LEGOLAND®와 함께 하는 시간";
    display: block;
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #666;
}


/* 구매하기 버튼들 --------------------------------------------------------- */
.tickets {
    width: var(--whole-max-width);
    min-width: var(--whole-min-width);
    background-color: var(--main-bg-color);
    margin: auto;
    padding-bottom: 60px;
    position: relative;
    display: flex;
    gap: 20px;
}
.t_list {
    position: relative;
    width: calc(100% * 3/4);
    box-sizing: border-box;
}
.t_r_list {
    position: relative;
    width: calc(100% / 4);
    box-sizing: border-box;    
}
.t_list h4,
.t_r_list h4 {
    padding-bottom: 50px;
    font-size: 150%;
    position: relative;
}
.t_list h4::after,
.t_r_list h4::after {
    content: "";
    display: block;
    width: calc(100% - 8px);
    height: 2px;
    background: linear-gradient(to right, rgba(0,0,0, 0.3), transparent);
    position: absolute;
    bottom: 35px;
    left: 4px;
}
.list_ul_wrap{
    background: url("/image/entrance_korea_0729.jpg") no-repeat top left/ cover;
    display: flex;
    height: fit-content;
}
.t_r_list_ul {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    background: url("/image/entrance_korea_0729.jpg") no-repeat top right/ cover;
}
.list_ul {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
.list_u_li {
width: 100%;
aspect-ratio: 1 / 0.4;          
position: relative;
border: 4px solid var(--main-bg-color);
box-sizing: border-box;
transition: .3s ease;
}
.list_u_li_empty {
width: 100%;
aspect-ratio: 1 / 0.4;          
position: relative;
background-color: var(--main-bg-color);
}
.list_u_li > a:hover {
background-color: rgba(0, 128, 0, 0.3);
color: #eee;
}

.list_u_li >a {
display: flex;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
font-size: 120%;
font-weight: 600;

box-sizing: border-box;
word-break: keep-all;
transition: .3s ease;
background-color: white;
}
.list_u_li >.dated_tc {
background-color: red;
}
.list_u_li >.daytime_tc {
background-color: green;
}
.list_u_li >.vip_tc {
background-color: blue;
}
.list_u_li >.annual_tc {
background-color: orange;
}
.list_u_li >.season_tc {
background-color: pink;
}
/* 클릭 시 팝업창 ---------------------------------------------------- */
.list_exp {
position: fixed;
left: 0;
top: 0;
width: 100vw;
height: 100vh;
backdrop-filter: blur(2px);
display: none;
justify-content: center;
align-items: center;
z-index: 9999;
}

.list_exp_wrap {
width: 40%;
position: relative;

background-color: rgba(255,255,255);
box-shadow: 4px 4px 6px #3333336b;
border-radius: 30px;
color: black;
overflow: hidden;
}
.l_e_w_text {
width: 100%;
max-height: 60vh;
overflow-y: auto;
padding: 20px 10%;
box-sizing: border-box;
}
.l_e_w_text tr td:nth-child(1) {
    height: 3rem;
    background-color: #ddd;
    padding: 0px 50px;
}
.l_e_w_text tr td:nth-child(2),
.l_e_w_text tr td:nth-child(3) {
    height: 3rem;
    text-align: center;
    font-weight: bold;
    background-color: var(--main-bg-color);
}
.list_exp h5 {
padding: 30px 0px 20px 50px;
font-size: 150%;
background: transparent url("/image/footer-silhouette.svg") no-repeat right bottom/ 60%;
}
.list_exp ul {
list-style: circle;
padding-left: 30px;
}
.list_exp li {
    padding: 5px 0px;
}
.close_exp {
display: block;
width: 30px;
height: 30px;
background: rgba(255, 255, 255, 0.8) url("/image/close_button.png") no-repeat center/ 100%;
border-radius: 50%;

position: absolute;
top: 20px;
right: 20px;
}
.btnBox {
display: flex;
flex-direction: row-reverse;
gap: 30px;
align-items: center;
padding: 30px 60px;
}
.gotoreser {
display: block;
padding: 10px 30px;
font-size: 100%;
font-weight: bolder;
color: white;
background-color: rgb(255, 133, 33);
border-radius: 10px;
transition: .3s ease;
}
.gotoreser:hover {
    background-color: royalblue;
}
.gotoexp {
    padding: 5px 20px 5px 0px;
    font-size: 90%;
    background: url("/image/arrow_forward.png") no-repeat right center / 15px;
    opacity: 0.8;
}
.gotoexp:hover {
    text-decoration: underline;
}
