/* slide Up 형식 */
:root {
    --wrap-max-width: 1350px;
    --wrap-up-height2 : 16vh;
    --wrap-up-min-height2 : 120px;
}
.shortReservation_wrap_up {
    width: 100%;
    max-width: var(--wrap-max-width);
    height: var(--wrap-up-height2);
    min-height: var(--wrap-up-min-height2);
    margin: auto;
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: white;
}
.shortReservation_wrap_up.uup {
    height: 620px;
}
.shortReservation_wrap_up .sr_numbers .table.uup {
    height: 100%;
}
.shortReservation_wrap_up .sr_numbers .tfoot_wrap.uup {
    display: none;
}
/* ----------------------- ---------------------- 1. date */
.shortReservation_wrap_up .sr_date {
    width: 30%;
    overflow: hidden;
}
.shortReservation_wrap_up .sr_date h4 {
    display: none;
}
.shortReservation_wrap_up .inputBox {

    width: 100%;
    height: var(--wrap-up-height2);
    min-height: var(--wrap-up-min-height2);
    padding: 0px 5%;

    display: flex;
    align-items: center;
    box-sizing: border-box;
}

/* ----------------------------------------------- 2. numbers */
.shortReservation_wrap_up .sr_numbers {
    width: 40%;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.shortReservation_wrap_up .sr_numbers h4 {
    display: none;
}
.shortReservation_wrap_up .table {
    width: 100%;
    height: var(--wrap-up-height2);
    display: flex;
    flex-direction: column;
}
.shortReservation_wrap_up .tbody{
    display: block;
    overflow: hidden;
    transition: .5s ease;
}
.shortReservation_wrap_up .sr_numbers .tfoot_wrap {
    display: block;
    width: 100%;

}

.shortReservation_wrap_up .tbody_add {
    display: none;
}

/* ----------------------------------------------- 3. code */
.shortReservation_wrap_up .sr_code {
    width: 10%;
    height: 160px;
    border: 1px dashed tomato;
}
.shortReservation_wrap_up .sr_code ul {
    display: none;
    gap: 5px;
    padding: 0px;
    justify-content: center;
}
.shortReservation_wrap_up .sr_c_list li {
    width: 45%;
}
.shortReservation_wrap_up .sr_c_title {
    width: fit-content;
    position: static;    
    font-size: 110%;
}
.shortReservation_wrap_up #sr_c_input {
    width: 200px;
    padding: 10px 3px;
    font-size: 90%;
}
/* ----------------------------------------------- 4. button */
.shortReservation_wrap_up .sr_searchBtn {
    width: 10%;
}
.shortReservation_wrap_up .sr_open {
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0px;

    width: 100%;
    height: 20px;
    background-color: tomato;
}